
    .bar-button-menutoggle-md {
        display: block !important;
    }

    img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .icontent {
      padding: 5px;
    }

    ion-card {
      margin: 10px;
      padding: 10px;
    }

    p {
        margin-bottom: 20px !important;
        color: gray !important;
    }
