<ion-header [translucent]="true">
  <ion-toolbar class="red-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 22px;">Qui&eacute;nes somos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="icontent">
        <ion-card>
            <img src="assets/imgs/who1.jpg" alt="Ricco Ricco" />
            <p>
                Todo empezó en octubre de 1994.<br>
            </p>
            <p>
                Pizzería Ricco Ricco es un pequeño negocio que inicia su actividad con mucha ilusión, apostando por la calidad de sus productos y por un trabajo bien hecho.
            </p>
            <p>
                Elaboramos unas pizzas de masa fina y crujiente,siempre con ingredientes frescos y naturales que las hace diferentes.
            </p>
            <img src="assets/imgs/who2.jpg" alt="Ricco Ricco" />
            <p>
                Llevamos más de veinticinco años intentando dar el mejor servicio a nuestros clientes. <br>
            </p>
            <p>
                Agradecemos a tod&#64;s l&#64;s trabajador&#64;s, que nos han acompañado a lo largo de estos años, su esfuerzo y colaboración, ya que sin ellos esto no hubiera sido posible y a nuestros clientes, que al confiar en nosotros año tras año, nos animan a seguir adelante y a mejorar día a día.
            </p>
            <p>
                Entre tod&#64;s hemos formado esta gran familia!
            </p>
        </ion-card>
    </div>
</ion-content>
