<ion-header>

    <ion-navbar hideBackButton color="lred">
        <ion-title text-center>Pedido realizado</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="icontent" padding>
        <ion-card padding-vertical>
            <ion-card-header>
                <h2 style="margin: 0 !important; color: #E30025"> Pedido realizado</h2>
            </ion-card-header>
            <p padding-horizontal>Gracias por tu pedido!! Recuerda pasar a recogerlo a las xxx</p>
        </ion-card>
    </div>

    <div class="butnsholder" padding-horizontal>
        <button  class="loginbtn" color="light" ion-button block (click)="showPopup()">Pay</button> 
    </div>
</ion-content>