<ion-content>
    <div class="icontent" padding-vertical>
        <div class="logoholder animated pulse" text-center>
            <img class="logo" src="assets/imgs/logo.png" alt="">
        </div>
        <div class="text">
            <p>Introduce el código que te habrá llegado al móvil en un mensaje de texto</p>
        </div>

        <div class="detailsholder" text-center padding>
            <ion-item>
                <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span>
                <ion-input type="number" [(ngModel)]="code" placeholder="Código" maxlength="4"></ion-input>
            </ion-item>
        </div>

        <div class="butnsholder" padding>
            <button class="registerbtn" color="light" ion-button block (click)="checkCode()">ACEPTAR</button>
        </div>

        <div class="text">
            <p>¿No has recibido el mensaje con el código? <a (click)="reSendCode()">Pulsa aquí para intentar enviarte un nuevo código</a></p>
        </div>

    </div>

</ion-content>
