<ion-content [fullscreen]="true">
    <div class="icontent" padding-vertical>
        <div class="logoholder animated pulse" text-center>
            <img class="logo" src="assets/imgs/logo.png" alt="">
        </div>
        <div class="text">
            <p>Introduce el código que te habrá llegado al móvil en un mensaje de texto</p>
        </div>
        <ion-row class="ion-padding">
          <ion-col size="12">
            <ion-item class="ion-text-center padding" style="border-radius: 25px;">
              <ion-input [(ngModel)]='codeData.code' color="light" class="custom" placeholder='Código' type='number' maxlength="4"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-col size="12">
            <ion-button (click)='checkCode()' color="light" size="large" expand="block" shape="round">
              <span style="color: #E30025; font-weight: bold; font-size: 22px;">ACEPTAR</span>
            </ion-button>
          </ion-col>
        </ion-row>


        <div class="text">
            <p>¿No has recibido el mensaje con el código? <a (click)="reSendCode()">Pulsa aquí para intentar enviarte un nuevo código</a></p>
        </div>

    </div>

</ion-content>
