<ion-header [translucent]="true">
  <ion-toolbar class="red-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goCart()">
        <ion-icon slot="icon-only" name="cart-outline" class="icon-custom"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 22px;">{{ categoryName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-row size="12">
        <ion-col size="12" class="ion-text-center">
          <ion-spinner style="width: 100px; height: 100px;" *ngIf="isLoading" color="danger" name="dots"></ion-spinner>
        </ion-col>
    </ion-row>
    <ion-card *ngFor="let product of products" class="pizzacard animated bounceInDown" [ngClass]="!product.available ? 'notavailable' : ''">
        <ion-row size="12">
            <ion-col size="4">
                <img class="custom-img" (click)="goProductPage(product)" [src]="product.image" [alt]="product.name">
            </ion-col>
            <ion-col size="8">
              <ion-item class="details" (click)="goProductPage(product)" lines="none">
                <ion-label style="margin-top: 0;">
                  <h2>{{ product.name }}</h2>
                  <p class="details-parrafo">
                    {{ product.description }}
                  </p>
                  <div class="price">
                    {{ product.price | number:'1.2-2' }} €
                  </div>
                </ion-label>
              </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="product.ingredientsNotAvailable.length > 0">
            <ion-col size="12">
                <div style="padding: 10px 10px 0 10px;">
                    Ingredientes no disponibles: <strong style="color: red;">{{ product.ingredientsNotAvailable.join(', ') }}</strong>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-row class="butnsholder" style="margin-top: 0">
                    <ion-col col-6>
                        <button color="light" expand="block" (click)="addLineToOrder(product)">A&Ntilde;ADIR</button>
                    </ion-col>
                    <ion-col col-6>
                        <button color="light" expand="block" (click)="goProductPage(product)" *ngIf="isPizzaCategory">PERSONALIZAR</button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-list>
</ion-content>
