<ion-header [translucent]="true">
  <ion-toolbar class="red-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="ico-und" (click)="goCart()" *ngIf="unds > 0">
          <div>{{unds}}</div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="icontent">
        <ion-list>
            <ion-card *ngFor="let product of products" class="pizzacard animated">
                <ion-row *ngIf="product.id != halfPizzaId">
                    <ion-col size="4">
                      <img (click)="setHalf(product)" [src]="product.image" [alt]="product.name">
                    </ion-col>
                    <ion-col size="8">
                      <ion-item class="details" (click)="setHalf(product)" lines="none">
                        <ion-label style="margin-top: 0;">
                          <h2>{{ product.name }}</h2>
                          <p text-wrap>{{product.description}}</p>
                            <div class="price">
                                {{product.price | number:'1.2-2'}} €
                            </div>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
