<ion-header [translucent]="true">
  <ion-toolbar class="red-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">TUS PEDIDOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="icontent" padding>
    <ion-list>
      <ion-item *ngFor="let order of orders">
        <ion-grid>
          <!-- Fecha del pedido -->
          <ion-row>
            <ion-col>
              <div class="orderDate">
                {{ order.date }}
              </div>
            </ion-col>
          </ion-row>

          <!-- Espaciado -->
          <ion-row>
            <ion-col>
              <div style="height: 5px;"></div>
            </ion-col>
          </ion-row>

          <!-- Información del pedido -->
          <ion-row>
            <ion-col size="7">
              <div style="height: 10px;"></div>
              <div>
                PEDIDO #{{ order.number }}
              </div>
              <div>
                {{ order.total | number: '1.2-2' }} €
              </div>
              <div *ngFor="let line of order.lines" class="productsDiv">
                <small>
                  {{ line.und }} x {{ line.productName }}
                </small>
              </div>
            </ion-col>
            <ion-col size="5">
              <ion-button (click)="cloneOrder(order)" expand="block" class="btn_red">
                REPETIR
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-content>
