<ion-content [fullscreen]="true">
  <div class='icontent' padding-vertical>
    <h3 class='title'>ENTRADA A LA APP</h3>
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-text-center padding">
          <ion-input [(ngModel)]='loginForm.login' color="light" class="custom" placeholder='Email' type='text'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-text-center padding">
          <ion-input [(ngModel)]='loginForm.password' color="light" class="custom" placeholder='Contraseña' type='password'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)='login()' color="light" size="large" expand="block" shape="round">
          <span style="color: #E30025; font-weight: bold; font-size: 22px;">ENTRAR</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)='goToRegister()' color="medium" size="large" expand="block" shape="round">
          <span style="color: #E30025; font-weight: bold; font-size: 22px;">CREAR CUENTA</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class='text'>
      ¿No recuerdas tu contraseña?
      <span (click)='sendPasswordSMS()' class='link'>Pulsa aquí</span>
      y te enviaremos un email con una contraseña temporal.
      Después de
      loguearte es conveniente entrar a tus datos de usuario para modificarla
    </div>

  </div>
</ion-content>
