<ion-header [translucent]="true">
  <ion-toolbar class="red-toolbar">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/menu"></ion-back-button> -->
      <ion-button (click)="goBack()"><ion-icon name="arrow-back" color="light" style="font-size: 24px;"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 22px;">Mi pedido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="icontent" *ngIf="currentOrder != undefined">
        <ion-list *ngIf="currentOrder.lines.length > 0">
            <ion-card class="ion-padding" class="pizzacard" *ngFor="let line of currentOrder.lines">
                <ion-row *ngIf="line.product != undefined">
                    <ion-col size="4">
                        <ion-thumbnail item-start padding (click)="editLine(line)">
                            <img *ngIf="line.product != undefined" src="{{line.product.image}}" alt="{{line.productName}}">
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col size="8">
                        <ion-col size="12" class="ion-no-padding">
                          <div class="details">
                            <span style="font-size: 1.2rem; color: #e30025;">{{line.productName}}</span>
                            <p *ngIf="line.sizeText != ''"><small style="font-weight: bold;">Tamaño: {{line.sizeText}}</small> <span *ngIf="line.half">(1/2 pizza)</span></p>
                            <p *ngIf="line.ingredientsToRemoveText != ''"><small>Quitar: {{line.ingredientsToRemoveText}}</small></p>
                            <p *ngIf="line.ingredientsToAddText != ''"><small>Añadir: {{line.ingredientsToAddText}}</small></p>
                            <p *ngIf="line.product && line.product.ingredientsNotAvailable.length > 0">
                                Ingredientes no disponibles: <strong style="color: red;">{{ line.product.ingredientsNotAvailable.join(', ') }}</strong>
                            </p>
                        </div>
                        </ion-col>
                        <ion-col size="12" style="padding-left: 0; margin-top: 5px;">
                          <ion-row style="display: flex; align-items: center; margin-top: 8px;">
                            <ion-col size="6" style="padding-left: 0; display: flex; align-items: center;">
                              <button *ngIf="!line.isHalfAndHalf" ion-button icon-only class="countbtn" no-margin item-left clear color="lred" (click)="removeUnd(line);">
                                <ion-icon class="icon-custom-cart" name="remove-circle-outline"></ion-icon>
                              </button>
                              <button *ngIf="!line.isHalfAndHalf" class="countbtn unidades" ion-button item-left color="lred" clear>
                                {{line.und}}
                              </button>
                              <button *ngIf="!line.isHalfAndHalf" class="countbtn" ion-button icon-only no-margin item-left clear color="lred" (click)="addUnd(line);">
                                <ion-icon class="icon-custom-cart" name="add-circle-outline"></ion-icon>
                              </button>
                            </ion-col>
                            <ion-col size="6" style="display: flex; justify-content: flex-end; align-items: center;">
                              <div class="price" item-right>{{line.priceTotal | number: '1.2-2'}} €</div>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col size="12" style="padding-left: 0;">
                          <ion-row (click)="removeLine(line)">
                              <div class="trash-container">
                                  <div><img class="ico-trash" src="assets/imgs/trash.png" alt="Eliminar"></div>
                                  <div>
                                      <div style="height: 6px;"></div>
                                      Eliminar
                                  </div>
                              </div>
                          </ion-row>
                        </ion-col>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
        <ion-list padding *ngIf="currentOrder.total > 0">
            <span *ngIf="isManager">
                <ion-list-header>
                    Escribe los datos del cliente
                </ion-list-header>
                <ion-item>
                    <ion-input [(ngModel)]="currentOrder.name" placeholder="Nombre"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="tel" [(ngModel)]="currentOrder.phone" placeholder="Teléfono"> </ion-input>
                </ion-item>
                <!--<ion-item>
                    <ion-input type="email" [(ngModel)]="currentOrder.email" placeholder="Tu email"> </ion-input>
                </ion-item>-->
            </span>

            <ion-item *ngIf="!numProductsOverload" lines="none">
                <ion-select label="Hora de recogida" [(ngModel)]="pickupTime">
                  <ion-select-option *ngFor="let gap of gaps" value="{{gap.timestamp}}" [disabled]="!gap.available">{{gap.text}}</ion-select-option>
                </ion-select>
            </ion-item>

            <div *ngIf="numProductsOverload">
                <br>
                <p class="message">En este momento no es posible atender tal cantidad de pizzas. Por favor, llame al 961 78 08 73. Gracias.</p>
            </div>

        </ion-list>
        <ion-row class="butnsholder">
          <ion-col size="12" *ngIf="currentOrder != null && currentOrder.lines.length > 0 && !numProductsOverload">
              <button expand="block" (click)="goCheckout()" [disabled]="!orderReady() || orderInProccess">Confirmar pedido</button>
          </ion-col>
        </ion-row>
        <div style="height: 80px;"></div>
        &nbsp;
    </div>
</ion-content>
<ion-footer>
    <div *ngIf="currentOrder != undefined && currentOrder.total > 0">
        Total: {{currentOrder.total | number: '1.2-2'}} €
    </div>
</ion-footer>
