
    .bar-button-menutoggle-md {
        display: block !important;
    }

    .loginbtn{
        border-radius: 25px;
        color: #ffffff!important;
        font-size: 1.5em;
        height: 50px;
        background-color: #E30025;
    }

    ion-card {
        ion-thumbnail {
              padding: 0 !important;
              height: 80px;
              background-color: #f9f9f9 !important;
              overflow: hidden;
              width: 105px;
            img {
                height: 100%;
                width: 105px;
                min-width: 100%;
                max-width: inherit;
            }
        }
    }

    .countbtn {
      height: 30px;
      width: 30px;
      background-color: white;
      color: #E30025;
      font-size: 2em;
      margin-top: -10px;

      ion-icon {
        height: 30px;
        width: 30px;
      }

      span {
          font-size: 20px;
      }
    }

    .unidades{
      margin-top: -10px;
    }

    .price {
        color: #e30025;
        font-size: 25px;
        font-weight: bold;
        font-family: Serif;
    }

    .long-text {
        color: lightgrey;
    }

    .details {
        p {
          margin-bottom: 0;
          margin-top: 5px;
        }
    }

    .trash-container {
        display: flex;

        div {
            margin-right: 0px;
        }
    }

    .ico-trash {
        height: 30px;
        width: auto;
        margin-right: 5px;
    }

    ion-footer {
        background-color: #e30025;
        color: white;

        div {
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            font-family: Serif;
            padding: 8px;
            text-align: center;
        }
    }

    .message {
        background-color: #E30025;
        border-radius: 10px;
        color: white;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        white-space: normal;
    }

    .butnsholder {
      margin-top: 20px;
      button {
          margin-top: 10px;
          border-radius: 25px;
          color: #ffffff !important;
          font-size: 1.6em;
          height: 50px;
          background-color: #e30025;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
      }
  }
