<ion-header>
    <ion-navbar color="lred">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Aviso legal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="icontent">
        <ion-card>
            <p>La utilizaci&oacute;n de este sitio web as&iacute; como de cualquiera de sus servicios implica la lectura, comprensi&oacute;n y aceptaci&oacute;n del presente aviso legal por parte del usuario.</p>
            <p>En cumplimiento de lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y el Comercio Electr&oacute;nico, se informa de los siguientes aspectos:</p>
            <p>- Responsable del sitio web: JUAN ANTONIO GARC&Iacute;A PALOMARES</p>
            <p>- Direcci&oacute;n: AVENIDA REYES CAT&Oacute;LICOS N&Uacute;MERO 28 BAJO, 46450 BENIFAIO<span class="Apple-converted-space">&nbsp;</span></p>
            <p>- Email de contacto: <a href="mailto:ricco.ricco.benifaio@gmail.com">ricco.ricco.benifaio@gmail.com</a></p>
            <p>- NIF/CIF: 20794035B</p>
            <p>- El representante legal es JUAN ANTONIO GARC&Iacute;A PALOMARES</p>
            <p>El Usuario acepta voluntaria y expresamente que el uso del Sitio <a href="https://app.riccoricco.es/"><em>app.riccoricco</em><span class="s1"><strong><em>.</em></strong></span><em>es</em></a><em>, en adelante app,<span class="Apple-converted-space">&nbsp;</span></em> se realiza en todo caso bajo su &uacute;nica y exclusiva responsabilidad. En el caso de usuarios menores de edad,<span class="Apple-converted-space">&nbsp;&nbsp;</span>la utilizaci&oacute;n de la<span class="Apple-converted-space">&nbsp;&nbsp;</span>aplicaci&oacute;n, ser&aacute; bajo la entera responsabilidad de sus padres, representantes o tutores legales<span class="Apple-converted-space">&nbsp;</span></p>
            <p>En la utilizaci&oacute;n de la app, en adelante app,<span class="Apple-converted-space">&nbsp;&nbsp;</span>el Usuario se compromete a no llevar a cabo ninguna conducta que pudiera da&ntilde;ar la imagen, los intereses y los derechos del sitio web o de terceros o que pudiera da&ntilde;arlo, inutilizarlo o sobrecargarlo, o que impidiera, de cualquier forma, la normal utilizaci&oacute;n del mismo.</p>
            <p>Los Contenidos de<em>&nbsp;la app</em> son puestos a disposici&oacute;n del Usuario por el responsable del sitio web con informaci&oacute;n procedente tanto de fuentes propias como de terceros.</p>
            <p><em><span class="Apple-converted-space">&nbsp;</span>La app</em> procura que los Contenidos sean de la mayor calidad posible y est&eacute;n razonablemente actualizados, pero <span class="Apple-converted-space">&nbsp;&nbsp;</span>no garantiza la utilidad, exactitud, exhaustividad, pertinencia y/o actualidad de los Contenidos.</p>
            <p>Mediante estas Condiciones Generales no se cede ning&uacute;n derecho de propiedad intelectual o industrial sobre la app ni sobre ninguno de sus elementos integrantes, quedando expresamente prohibidos al Usuario la reproducci&oacute;n, transformaci&oacute;n, distribuci&oacute;n, comunicaci&oacute;n p&uacute;blica, puesta a disposici&oacute;n, extracci&oacute;n, reutilizaci&oacute;n, reenv&iacute;o o la utilizaci&oacute;n de cualquier naturaleza, por cualquier medio o procedimiento, de cualquiera de ellos, salvo en los casos en que est&eacute; legalmente permitido o sea autorizado por el titular de los correspondientes derechos.</p>
            <p>Estas Condiciones Generales se rigen por la Ley espa&ntilde;ola.</p>
            <p>CLAUSULA DE ADVERTENCIA GEN&Eacute;RICA</p>
            <p>En cumplimiento de lo dispuesto en la Ley Org&aacute;nica 3/2018, de 5 de diciembre, de Protecci&oacute;n de Datos Personales y garant&iacute;a de los derechos digitales y el Reglamento Europeo de Protecci&oacute;n de Datos, se le informa sobre la incorporaci&oacute;n de sus datos a un fichero titularidad de JUAN ANTONIO GARC&Iacute;A PALOMARES, con domicilio en AVENIDA REYES CAT&Oacute;LICOS N&Uacute;MERO 28 BAJO, 46450, BENIFAIO. La finalidad del tratamiento es la gesti&oacute;n de datos de clientes y proveedores y su legitimaci&oacute;n es la ejecuci&oacute;n de contratos. Las cesiones que podr&aacute;n llevarse a cabo, ser&aacute;n aquellas necesarias para el desarrollo de la relaci&oacute;n jur&iacute;dica existente entre las partes, as&iacute; como aquellas que se encuentren previstas en la Ley, tales como aquellas cuyos destinatarios son entidades financieras, la Agencia Tributaria o Juzgados y Tribunales. &nbsp;</p>
            <p>Tiene derecho a acceder, rectificar, suprimir y oponerse al tratamiento de sus datos mediante solicitud remitida a JUAN ANTONIO GARC&Iacute;A PALOMARES, con domicilio en AVENIDA REYES CAT&Oacute;LICOS N&Uacute;MERO 28 BAJO, 46450, BENIFAIO. Adem&aacute;s, puede consultar informaci&oacute;n adicional en nuestro Registro de Actividades de Tratamiento.</p>
        </ion-card>
    </div>
</ion-content>
