    .bar-button-menutoggle-md {
        display: block !important;
    }

    ion-card {
        padding: 20px;

        p {
            margin-bottom: 20px !important;
            color: gray !important;
        }
    }

