<ion-content fullscreen="true">
  <div class='icontent' padding-vertical>
    <h3 class='title'>REGISTRO EN LA APP</h3>
    <div class='detailsholder' padding text-center>
      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.name' class="custom" placeholder='Nombre' type='text'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.phone' class="custom" placeholder='Teléfono' type='text'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.login' class='email custom' placeholder='Email' type='email'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.address' class="custom" placeholder='Dirección' type='text'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.zip' class="custom" placeholder='Código postal' type='text'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.password' class="custom" placeholder='Contraseña' type='password'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="ion-text-center padding">
            <ion-input [(ngModel)]='registerForm.passwordRepeated' class="custom" placeholder='Repetir contraseña' type='password'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <div style='height: 10px;'></div>
      <label for='birthDate'>Fecha de nacimiento (opcional)</label>
      <div style='height: 10px;'></div>

      <ion-item>
        <!--
        <ion-datetime
          [(ngModel)]='registerForm.birthDate'
          displayFormat='DD-MM-YYYY'
          presentation='date'
        ></ion-datetime>
        -->
        <ion-input [(ngModel)]='registerForm.birthDate' type='date'></ion-input>
      </ion-item>
    </div>

    <div class='text'>
      <p>Asegurate de introducir bien tu número de móvil, ya que en el siguiente paso te vamos a enviar un sms con un
        código de verificación</p>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)='register()' color="light" size="large" expand="block" shape="round">
          <span style="color: #E30025; font-weight: bold; font-size: 22px;">REGISTRARME</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)='goToLogin()' color="medium" size="large" expand="block" shape="round">
          <span style="color: #E30025; font-weight: bold; font-size: 22px;">YA TENGO CUENTA</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
